<h2>{{(persona.name ? persona.name : "&lt;new-persona&gt;") | uppercase}} <a routerLink='edit/persona/{{persona.id}}'>Edit</a></h2>
<div>
  <label>Name:
    <input *ngIf='edit' [(ngModel)]="persona.name" placeholder="name">
    <span *ngIf='!edit'>{{persona.name}}</span>
  </label>
</div>
<div>
  <label>Code Name:
    <input *ngIf='edit' [(ngModel)]='persona.codeName' placeholder="codeName" />
    <span *ngIf='!edit'>{{persona.codeName}}</span>
  </label>
</div>
<div>
  <label>Type:
    <select *ngIf='edit' [(ngModel)]='persona.type'>
      <option *ngFor='let type of PersonaTypes.values();' [ngValue]='type'>{{type}}</option>
    </select>
    <span *ngIf='!edit'>{{persona.type}}</span>
  </label>
</div>
<div>
  <label>Arcana:
    <span *ngIf='!edit'>{{persona.arcana}}</span>
    <select *ngIf='edit' [(ngModel)]='persona.arcana'>
      <option *ngFor='let arcana of Arcanas.values();' [ngValue]='arcana'>{{arcana}}</option>
    </select>
  </label>
</div>
<div>
  <label><span *ngIf='edit'>Strengths/</span>Weaknesses:
    <span *ngIf='!edit'>
      <span *ngFor='let weakness of weaknesses'>{{weakness}} </span>
    </span>
    <div *ngIf='edit'>
      <ul>
        <li><label>Physical: </label>
          <select [(ngModel)]='persona.damageEffectiveness.physical'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Gun: </label>
          <select [(ngModel)]='persona.damageEffectiveness.gun'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Fire: </label>
          <select [(ngModel)]='persona.damageEffectiveness.fire'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Ice: </label>
          <select [(ngModel)]='persona.damageEffectiveness.ice'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Electric: </label>
          <select [(ngModel)]='persona.damageEffectiveness.electric'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Wind: </label>
          <select [(ngModel)]='persona.damageEffectiveness.wind'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Psychic: </label>
          <select [(ngModel)]='persona.damageEffectiveness.psychic'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Nuclear: </label>
          <select [(ngModel)]='persona.damageEffectiveness.nuclear'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Bless: </label>
          <select [(ngModel)]='persona.damageEffectiveness.bless'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Curse: </label>
          <select [(ngModel)]='persona.damageEffectiveness.curse'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
        <li><label>Almighty: </label>
          <select [(ngModel)]='persona.damageEffectiveness.almighty'>
            <option *ngFor='let efftype of Effectiveness.values();' [ngValue]='efftype'>{{efftype}}</option>
          </select>
        </li>
      </ul>
    </div>
  </label>
</div>
