<h2>{{mode}} Question</h2>
<div class='content'>
  <div class='label'>
    <label>Question: </label>
  </div>
  <div class='field' id=1>
    <textarea placeholder="Question" [(ngModel)]='question.text'></textarea>
  </div>
  <div></div>
  <div class='label answer1'>
    <label>Answer 1: </label>
  </div>
  <div class='field answer1'>
    <input type="text" placeholder="Answer 1" [(ngModel)]='question.answers[0].text' />
  </div>
  <div class='label type1'>
    <label>Type:</label>
  </div>
  <div class='field type1'>
    <app-answer-types [answer]="question.answers[0]"></app-answer-types>
  </div>

  <div class='label answer2'>
    <label>Answer 2: </label>
  </div>
  <div class='field answer2'>
    <input type="text" placeholder="Answer 2" [(ngModel)]='question.answers[1].text' />
  </div>
  <div class='label type2'>
      <label>Type:</label>
    </div>
  <div class='field type2'>
      <app-answer-types [answer]="question.answers[1]"></app-answer-types>
  </div>
  <div class='label answer3'>
    <label>Answer 3:
    </label>
  </div>
  <div class='field answer3'>
    <input type="text" placeholder="Answer 3" [(ngModel)]='question.answers[2].text' />
  </div>
  <div class='label type3'>
      <label>Type:</label>
    </div>
  <div class='field type3'>
      <app-answer-types [answer]="question.answers[2]"></app-answer-types>
  </div>
  <div class=pastebox>
    <div>Paste Area</div>
    <textarea [(ngModel)]='pasteText' (ngModelChange)="dataPaste()"> </textarea>
  </div>
</div>
