<div class="questions-content">
  <ul>
    <li class='question' *ngFor='let question of questions | questionFilter : searchString'>{{question.text}}
      <ol>
        <li class='answer' *ngFor='let answer of question.answers'>
          <div [class]='getClass(answer.type)'>{{answer.text}}
            <select>
              <option></option>
              <option *ngFor='let atype of AnswerTypes.values()' [selected]='answer.type === atype' [value]='type'>{{atype}}</option>
            </select>
          </div>
        </li>
      </ol>
    </li>
  </ul>
</div>
