h2 {
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
}
li.question {
  padding-top: 1em;
  color: black;
  font-weight: bold;
  list-style: none;
}
li.answer {
  font-weight: normal;
}
.like {
  color: green;
}

.dislike {
  color: red;
}

.neutral {
  color: black;
}

.content {
  display: grid;
  grid-template-areas:
    "title"
    "content";
  grid-template-rows: 80px 1fr;
  height: 100%
}

questions-header {
  grid-area: title;
}
questions-content {
  grid-area: content;
  overflow: auto;
}
