<h2>Questions <a routerLink='/add/question'>Add</a></h2>
<label>Search: <input type="text" [(ngModel)]='this.searchString' (onChange)='this.filter(this.searchString)' >  </label>
<ul>
  <li class='question' *ngFor='let question of questions | questionFilter : searchString'>{{question.text}}
  <ul>
    <li class='answer' *ngFor='let answer of question.answers'><div [class]='getClass(answer.type)'>{{answer.text}}
    <select>
      <option></option>
      <option *ngFor='let atype of AnswerTypes.values()' [selected]='answer.type === atype' [value]='type'>{{atype}}</option>
    </select>
    </div>
  </li>
  </ul>
  </li>
</ul>
