<div class="content">
  <questions-header>
    <h2>Questions
        <a routerLink='/add/question'>Add</a>
    </h2>
    <label>Search:
        <input type="text" [(ngModel)]='this.searchString' (onChange)='this.filter(this.searchString)'>
    </label><span *ngIf="this.personaType"> Highlighting {{personaType.type}} - <span class="like">Likes: {{this.personaType.like}}</span> <span class="dislike"> Dislikes:<span *ngFor="let type of personaType.dislike"><span>{{type}} </span></span> </span></span>
  </questions-header>
  <questions-content>
    <ul>
      <li class='question' *ngFor='let question of questions | questionFilter : searchString'>{{question.text}} <a routerLink="/edit/question/{{question.id}}">Edit</a>
        <ol>
          <li class='answer' *ngFor='let answer of question.answers'>
            <div [class]='getClass(answer.types)'>{{answer.text}} ({{answer.types.join(', ')}})
              <!--<app-answer-types [answer]=answer></app-answer-types>-->
            </div>
          </li>
        </ol>
      </li>
    </ul>
  </questions-content>
</div>
