/* AppComponent's private CSS styles */
h1 {
  font-size: 1.4em;
  color: white;
  margin-bottom: 0;
}
h2 {
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.container {
  display: grid;
  grid-template-areas:
  "header header"
  "types-content questions-content"
  "personas-content questions-content"
  "footer footer";
  grid-template-columns: calc(1em + 300px) 1fr;
  grid-template-rows: 50px 200px 1fr 30px;
  grid-gap: 10px;
  height: calc(100vh);
}

header {
  grid-area: header;
  background-color: #607d8b;
  padding-left: 1em;
}
types-content {
  padding-left: 1em;
  grid-area: types-content;
}
personas-content{
  padding-left: 1em;
  grid-area: personas-content;
  overflow: auto;
}
router-content {
  grid-area: questions-content;
  /* overflow: auto; */
}
footer {
  padding-left: 1em;
  padding-top: 8px;
  grid-area: footer;
  background-color: #607d8b;
  color: #eeeeee;
}


@media (max-width: 500px) {
  .container {
    grid-template-areas:
      "header"
      "types-content"
      "personas-content"
      "questions-content"
      "footer";
    grid-template-rows: auto auto auto auto auto;
    height: unset;

  }
}
